<footer class="footer">
    <div class="footer-grid">
        <div class="f-logo">
            <img src="/assets/icon/logo/image 8.jpg" alt="Eco Architect Logo">
            <div class="f-logo-text">
                <h3>Eco Architect Co.,Ltd.</h3>
                <p>Architecture that breathes with nature</p>
            </div>
        </div>
        <div class="f-contact">
            <a class="val">thecustom1978@gmail.com</a>
            <a class="val">098 831 8366</a>
            <a class="loc-val">204 ถนนหทัยราษฎร์ แขวงบางชัน เขตคลองสามวา กรุงเทพมหานคร 10510, Bangkok, Thailand, 10510</a>
        </div>
        <div class="f-nav">
            <a class="f-nav-item" href="projects.html"><span>ผลงาน</span><img src="/assets/icon/ui/arrow/inverse.svg" alt=""></a>
            <a class="f-nav-item" href="services.html"><span>บริการ</span><img src="/assets/icon/ui/arrow/inverse.svg" alt=""></a>
            <a class="f-nav-item" href="about.html"><span>เกี่ยวกับ</span><img src="/assets/icon/ui/arrow/inverse.svg" alt=""></a>
            <a class="f-nav-item" href="contact.html"><span>ติดต่อ</span><img src="/assets/icon/ui/arrow/inverse.svg" alt=""></a>
            <a class="f-nav-item desktop-only" href="about.html#awards"><span>รางวัล</span><img src="/assets/icon/ui/arrow/inverse.svg" alt=""></a>
            <a class="f-nav-item desktop-only" href="about.html#team"><span>ทีมงาน</span><img src="/assets/icon/ui/arrow/inverse.svg" alt=""></a>
        </div>
        <div class="f-social">
            <a href="" target="_blank" ><img src="/assets/icon/social/mynaui_instagram.svg" alt="Instagram"></a>
                <a href="https://www.facebook.com/Thecustom.thailand/" target="_blank"><img src="/assets/icon/social/uil_facebook.svg" alt="Facebook"></a>
        </div>
        <p class="f-copy">© 2025 The Custom Co., Ltd. · All rights reserved</p>
    </div>
</footer>
