<footer class="footer">
    <div class="footer-grid">
        <div class="f-logo">
            <img src="/assets/icon/logo/image 8.jpg" alt="Eco Architect Logo">
            <div class="f-logo-text">
                <h3>Eco Architect Co.,Ltd.</h3>
                <p>Architecture that breathes with nature</p>
            </div>
        </div>
        <div class="f-contact">
            <a class="val">eco.arch.phuket@gmail.com</a>
            <a class="val">6681 270 3450</a>
            <a class="loc-val">6 ซ.ประยูร 2/2 ถ.เยาวราช ตลาดใหญ่ ภูเก็ต 83000</a>
        </div>
        <div class="f-nav">
            <a class="f-nav-item" href="projects.html"><span>ผลงาน</span><img src="/assets/icon/ui/arrow/inverse.svg" alt=""></a>
            <a class="f-nav-item" href="services.html"><span>บริการ</span><img src="/assets/icon/ui/arrow/inverse.svg" alt=""></a>
            <a class="f-nav-item" href="about.html"><span>เกี่ยวกับ</span><img src="/assets/icon/ui/arrow/inverse.svg" alt=""></a>
            <a class="f-nav-item" href="contact.html"><span>ติดต่อ</span><img src="/assets/icon/ui/arrow/inverse.svg" alt=""></a>
            <a class="f-nav-item desktop-only" href="about.html#awards"><span>รางวัล</span><img src="/assets/icon/ui/arrow/inverse.svg" alt=""></a>
            <a class="f-nav-item desktop-only" href="about.html#team"><span>ทีมงาน</span><img src="/assets/icon/ui/arrow/inverse.svg" alt=""></a>
        </div>
        <div class="f-social">
            <a href="https://www.instagram.com/eco.architect/" target="_blank" ><img src="/assets/icon/social/mynaui_instagram.svg" alt="Instagram"></a>
                <a href="https://www.facebook.com/p/Eco-Architect-100044528075674/" target="_blank"><img src="/assets/icon/social/uil_facebook.svg" alt="Facebook"></a>
        </div>
        <p class="f-copy">© 2025 Eco Architect Co., Ltd. · All rights reserved</p>
    </div>
</footer>
