<nav class="nav">
    <div class="nav-inner">
        <a class="nav-logo" href="index.html">
            <img src="/assets/icon/logo/image 8.jpg" alt="Eco Architect Logo">
            <div class="nav-logo-text"><p>Eco</p><p>Architect</p></div>
        </a>
        <div class="nav-links">
            <a class="nav-link" href="projects.html">ผลงาน</a>
            <a class="nav-link" href="about.html">เกี่ยวกับ</a>
            <a class="nav-link" href="services.html">บริการ</a>
            <a class="nav-link cta" href="contact.html">ติดต่อ</a>
        </div>
        <div class="nav-hamburger" role="button" aria-label="เมนู" aria-expanded="false">
            <span class="ham-bar"></span>
            <span class="ham-bar"></span>
            <span class="ham-bar"></span>
        </div>
    </div>

    <div class="nav-overlay" aria-hidden="true">
        <div class="nav-overlay-links">
            <a class="nav-overlay-link" href="index.html">หน้าแรก</a>
            <a class="nav-overlay-link" href="projects.html">ผลงาน</a>
            <a class="nav-overlay-link" href="about.html">เกี่ยวกับ</a>
            <a class="nav-overlay-link" href="services.html">บริการ</a>
            <a class="nav-overlay-link" href="contact.html">ติดต่อ</a>
        </div>
        <div class="nav-overlay-footer">
            <div class="nav-overlay-contact">
                <p>eco.arch.phuket@gmail.com</p>
                <p>+6681 270 3450</p>
            </div>
            <div class="nav-overlay-social">
                <a href="https://www.instagram.com/eco.architect/" target="_blank"><img src="/assets/icon/social/mynaui_instagram.svg" alt="Instagram"></a>
                <a href="https://www.facebook.com/p/Eco-Architect-100044528075674/" target="_blank" ><img src="/assets/icon/social/uil_facebook.svg" alt="Facebook"></a>
            </div>
        </div>
    </div>
</nav>
